<html lang="pt-BR">
    <head th:replace="~{base :: head}"></head>
    <body>
        <nav th:replace="~{base :: logo}"></nav>
        <section class="container">
            <div th:replace="~{base :: titulo('Novo pedido')}"></div>

            <section class="card mt-3">
                <form th:object="${requisicaoNovoPedido}" class="card-body" action="/pedido/novo" method ="POST">
                    <div class="form-group mt-3">
                        <label for="nomeProduto">Nome do produto</label>
                        <input th:field="*{nomeProduto}" class="form-control " th:errorClass="is-invalid" type="text" placeholder="Informe o nome do produto">
                        <div class="invalid-feedback" th:errors="*{nomeProduto}">não pode estar em branco</div>
                    </div>
                    <div class="form-group mt-3">
                        <label for="urlProduto">Url do produto</label>
                        <input th:field="*{urlProduto}" class="form-control " th:errorClass="is-invalid" type="text" placeholder="Informe a url da página do produto">
                        <div class="invalid-feedback" th:errors="*{urlProduto}">não pode estar em branco</div>
                    </div>
                    <div class="form-group mt-3">
                        <label for="urlImagem">Imagem do produto</label>
                        <input th:field="*{urlImagem}" class="form-control " th:errorClass="is-invalid" type="text" placeholder="Informe a url da imagem do produto">
                        <div class="invalid-feedback" th:errors="*{urlImagem}">não pode estar em branco</div>
                    </div>
                    <div class="form-group mt-3" >
                        <label for="descricao">Detalhes</label>
                        <textarea  class="form-control" placeholder="Adicione detalhes do produto "></textarea>
                    </div>
                    <button class="btn btn-primary d-flex mt-3 flex-row-reverse" type="submit">Cadastrar</button>
                </form>
            </section>
        </section>
    </body>
</html>