<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <section>
            <h2>Nome do produto: </h2>
            <h3>Valor <span>290</span></h3>
            <h3>Data de entrega: <span>10/02/1234</span></h3>

            <h2>Produto: </h2>
            <h3>Url do produto: </h3>
            <h3>Descrição</h3>
            <div>
                <textarea name="descricao" id="descricao" cols="30" rows="10">Descrição do pedido ...</textarea>
            </div>

            <div>
                <img src="" alt="Imagem do produto">
            </div>
        </section>
    </body>
</html>