<html lang="pt-BR">
<head th:replace="~{base :: head}"></head>
<body>
    <div th:replace="~{base :: logo}"></div>

    <div class="container">
        <div th:replace="~{base :: titulo('Login')}"></div>
        <div class="card mb-3">
            <form th:action="@{/login}" class="card-body" method="post">
                <div class="form-group">
                    <label class="mt-2" for="username">Usuário</label>
                    <input name="username" type="text" class="form-control" placeholder="usuário"/>
                </div>
                <div class="form-group">
                    <label class="mt-2" for="password">Senha</label>
                    <input name="password" type="password" class="form-control" placeholder="senha"/>
                </div>
                <button class="btn btn-primary" type="submit" >Login</button>
            </form>
        </div>
    </div>
</body>
</html>